@charset "UTF-8";

.chrome-extension-compaito.container {
    position: absolute;
    z-index: 9999;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.chrome-extension-compaito.container:hover {
    display: block;
}

.chrome-extension-compaito button {
    border-style: none;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
}
.chrome-extension-compaito button:focus {
    outline: 0;
}

.chrome-extension-compaito.pick-button {
    background-color: #3498db;
}
.chrome-extension-compaito.pick-button.picking {
    background-color: #1abc9c;
}

.chrome-extension-compaito.pick-prev-button {
    background-color: #2980b9;
    font-weight: bold;
}

.chrome-extension-compaito.cancel-button {
    background-color: #c0392b;
    font-weight: bold;
}

.chrome-extension-compaito.none,
.chrome-extension-compaito .none {
    display: none;
}