@charset "UTF-8";

.chrome-extension-compaito.diff-picker {
    z-index: 9999;
}

.chrome-extension-compaito.diff-picker:hover {
    display: inline;
}

.chrome-extension-compaito.none {
    display: none;
}