@charset "UTF-8";

$button-font-color:      #ffffff;
$pick-button-color:      #3498db;
$picking-button-color:   #1abc9c;
$pick-prev-button-color: #2980b9;
$cancel-button-color:    #c0392b;

$base-size: 10px;
$v-padding: $base-size / 5;
$h-padding: $base-size / 2;

.chrome-extension-compaito {
    &.container {
        position: absolute;
        z-index: 9999;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        height: $base-size * 2;
        &:hover { display: block; }
    }

    button {
        border-style: none;
        color: $button-font-color;
        font-size: $base-size;
        height: $base-size * 2;
        padding: $v-padding $h-padding;
        &:focus { outline: 0; }
    }

    .pick-button {
        background-color: $pick-button-color;
        padding: $v-padding $h-padding $v-padding 0;   /* for moving text to left balloon arrow */

        &:after {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            left: -$base-size;
            margin-top: -$base-size;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: $base-size $base-size $base-size 0;
            border-color: transparent $pick-button-color transparent transparent;
        }

        &.picking {
            background-color: $picking-button-color;
        }
        &.picking:after {
            border-color: transparent $picking-button-color transparent transparent;
        }
    }

    .pick-prev-button {
        background-color: $pick-prev-button-color;
        font-weigth: bold;
        &:after { content: "~" };
    }

    .cancel-button {
        background-color: $cancel-button-color;
        font-weight: bold;
        &:after { content: "x" };
    }

    &.none, .none { display: none; }
}
