doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='../css/options.css')
    script(src='../js/options.js')
  body
    h1 chrome-GitHub-compaito

    #config
      textarea#hosts
      button#save Save
