doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='../css/options.css')
    script(src='../js/options.js')
  body
    #icon
    h1 chrome-github-compaito

    #config
      h2 options
      p#format JSON format: { hostname: isEnable }
      textarea#hosts
      button#save Save

      #help
        p example:
        pre#example
          | {
          |   "github.com": true,
          |   "your.github.enterprise.com": true,
          |   "temporary.disabled.host": false
          | }

    #link
      h2 links
      ul
        li
          a(href='https://chrome.google.com/webstore/detail/compaito/bibcmambgkheppahlcghnocnjdbnjlgl') Chrome Web Store
        li
          a(href='https://github.com/pokutuna/chrome-github-compaito') GitHub Repository
