doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='../css/options.css')
    script(src='../js/options.js')
  body
    h1 chrome-GitHub-compaito

    #config
      p JSON format: { hostname: isEnable }
      textarea#hosts
      button#save Save

    #help
      p example:
      pre#example
        | {
        |   "github.com": true,
        |   "your.github.enterprise.com": true,
        |   "temporary.disabled.host": false
        | }
